*.pkl
*.csv
*.png
*.xlsx
/xx_old
/01_descriptive/02_descriptive_plots_paper.ipynb
/01_descriptive/03_readme.ipynb
/07_data_dumps
/classes/__pycache__
/00_data
/01_descriptive/00_generate_forte_matrices.ipynb
/08_metadata